<div>
  <div class="row oneOwner">
    <app-mybutton2
      (click)="onClickMe('for')"
      buttonLabel="for"
      [buttonOn]="getValueByKey('for')"
    ></app-mybutton2>
  </div>
  <div class="row oneOwner">
    <app-mybutton2
      (click)="onClickMe('against')"
      buttonLabel="against"
      [buttonOn]="getValueByKey('against')"
    ></app-mybutton2>
  </div>
  <div class="row oneOwner">
    <app-mybutton2
      (click)="onClickMe('abstention')"
      buttonLabel="abstention"
      [buttonOn]="getValueByKey('abstention')"
    ></app-mybutton2>
  </div>
</div>
