<div>
  <div class="roww oneOwner">
    <app-mybutton2
      (click)="onClickMe('for')"
      buttonLabel="yes"
      [buttonOn]="getFromSwitcherValueByKey('for')"
    ></app-mybutton2>
  </div>
  <div class="roww oneOwner">
    <app-mybutton2
      (click)="onClickMe('against')"
      buttonLabel="no"
      [buttonOn]="getFromSwitcherValueByKey('against')"
    ></app-mybutton2>
  </div>
  <div class="roww oneOwner">
    <app-mybutton2
      (click)="onClickMe('abstention')"
      buttonLabel="abstention"
      [buttonOn]="getFromSwitcherValueByKey('abstention')"
    ></app-mybutton2>
  </div>
</div>
