<h1>OWNERS</h1>

<div class="floating">
  <div>{{ ownerName }}</div>
  <div>------------------</div>
  <div [innerHTML]="listOfVOtes"></div>
</div>

<ul>
  <li *ngFor="let owner of owners; let i = index">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 text-light" style="background-color:white;">
          <button
            (click)="getInfo(owner)"
            type="button"
            class="btn btn-outline-dark btn-sm ml-1 mt-2 "
          >
            info
          </button>
          <button
            (click)="getInfoVotes(owner.fullname, owner.list_of_votes)"
            type="button"
            class="btn btn-outline-dark btn-sm ml-1 mt-2 "
          >
            votes
          </button>
        </div>

        <div class="col-sm-9" style="background-color:whiteh;">
          <div style="background-color:lavenderblush;">
            {{ owner.property }} : {{ owner.fullname }}
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>

<input #owner type="text" (keyup.enter)="add(owner)" />
