<h4>LISTA WŁAŚCICIELI</h4>

<!-- <ul>
  <li *ngFor="let owner of newOwners$ | async">
    {{ owner.key }} : {{ owner.payload.val() }} :

    {{ owner.payload.key }}

    <button (click)="update(owner)">UPDATE</button>
    <button (click)="getInfo(owner)">INFO</button>
  </li>
</ul> -->

<ul>
  <li *ngFor="let owner of owners; let i = index">
    {{ owner.$value || i }} : {{ owner.fullname }} : {{ owner.property }}
    {{ owner.key }}
    <button (click)="update(owner)">UPDATE</button>
    <button (click)="getInfo(owner)">INFO</button>
  </li>
</ul>

<input #owner type="text" (keyup.enter)="add(owner)" />
