<ul>
  <li *ngFor="let owner of owners">
    <div>
      {{ owner.ownerId }} :{{ owner.fullname }} : {{ owner.property }} :
      {{ owner.participation }}

      <div class="row oneOwner">
        <app-my-button
          buttonLabel="for"
          (click)="incrementVFor(owner.participation)"
          >vote for</app-my-button
        >
      </div>

      <div class="row oneOwner">
        <app-my-button
          buttonLabel="against"
          (click)="incrementVAgainst(owner.participation)"
        ></app-my-button>
      </div>

      <div class="row oneOwner">
        <app-my-button
          buttonLabel="abstention"
          (click)="incrementVAbstention(owner.participation)"
        ></app-my-button>
      </div>
    </div>
  </li>
</ul>

<div>
  <div>
    <div class="row">
      sum of votes for :
      <div class="row">
        <h2>{{ votesFor | number: ".2" }}</h2>
      </div>
    </div>

    <div class="row">
      against :
      <div class="row">
        <h2>{{ votesAgainst | number: ".2" }}</h2>
      </div>
    </div>

    <div class="row">
      abstention :
      <div class="row">
        <h2>{{ votesAbstention | number: ".2" }}</h2>
      </div>
    </div>
  </div>
</div>
