<div>
  <div>
    <h5 class="row">VOTES :</h5>
    <ul class="row">
      <li *ngFor="let id of iDsOfvotes" class="row">
        <button (click)="setPoll(id)">{{ id }}</button>
      </li>
    </ul>
  </div>

  <div>
    <h5 class="row">CURRENT VOTE :</h5>
    <H3 class="row">{{ idPoll }}</H3>
  </div>

  <h5 class="row">
    NEW VOTE :
  </h5>
  <input class="row" type="text" (keyup.enter)="getPoll($event)" />
  <p class="row">
    .....
  </p>
</div>

<ul>
  <li *ngFor="let owner of owners">
    <div>
      {{ owner.property }}:{{ owner.fullname }}:
      {{ owner.participation }}

      <app-box-ofbutton
        [idPoll]="idPoll"
        [listOfVOtes]="getList(owner.list_of_votes)"
        participation="{{ owner.participation }}"
        id="{{ owner.id }}"
        (messageEventVotesFor)="receiveFor($event)"
        (messageEventVotesAgainst)="receiveAgainst($event)"
        (messageEventVotesAbstention)="receiveAbstetion($event)"
        (messageEventVotesForMinus)="receiveForMinus($event)"
        (messageEventVotesAgainstMinus)="receiveAgainstMinus($event)"
        (messageEventVotesAbstentionMinus)="receiveAbstetionMinus($event)"
        (messageEventIdVotesList)="receiveIdVotesList($event)"
      ></app-box-ofbutton>
    </div>
  </li>
</ul>

<div>
  <div>
    <div class="row">
      sum of votes for :
      <div class="row">
        <h2>{{ votesFor | number: ".2" }}</h2>
      </div>
    </div>

    <div class="row">
      against :
      <div class="row">
        <h2>{{ votesAgainst | number: ".2" }}</h2>
      </div>
    </div>

    <div class="row">
      abstention :
      <div class="row">
        <h2>{{ votesAbstention | number: ".2" }}</h2>
      </div>
    </div>
  </div>
</div>
