<div>
  <p class="row">
    GŁOSOWANIE ZA UCHWAŁĄ NR :
  </p>
  <input class="row" type="text" (keyup.enter)="getPoll($event)" />
  <p class="row">
    w SPRAWIE ....
  </p>
</div>

<ul>
  <li *ngFor="let owner of owners">
    <div>
      Wilenska : {{ owner.property }}. udział : {{ owner.participation }}

      <app-box-ofbutton
        [listOfVOtes]="getList(owner.list_of_votes)"
        (messageEventVotesFor)="receiveFor($event)"
        (messageEventVotesAgainst)="receiveAgainst($event)"
        (messageEventVotesAbstention)="receiveAbstetion($event)"
        (messageEventVotesForMinus)="receiveForMinus($event)"
        (messageEventVotesAgainstMinus)="receiveAgainstMinus($event)"
        (messageEventVotesAbstentionMinus)="receiveAbstetionMinus($event)"
        participation="{{ owner.participation }}"
        id="{{ owner.id }}"
      ></app-box-ofbutton>
    </div>
  </li>
</ul>

<div>
  <div>
    <div class="row">
      sum of votes for :
      <div class="row">
        <h2>{{ votesFor | number: ".2" }}</h2>
      </div>
    </div>

    <div class="row">
      against :
      <div class="row">
        <h2>{{ votesAgainst | number: ".2" }}</h2>
      </div>
    </div>

    <div class="row">
      abstention :
      <div class="row">
        <h2>{{ votesAbstention | number: ".2" }}</h2>
      </div>
    </div>
  </div>
</div>
