button {
  // background: rgb(238, 238, 238);
  padding: 1em;
  border-radius: 10px;
  // margin-bottom: 7px;
  display: inline;
  // grid-template-columns: 60px auto;
}

.row {
  display: inline-block;
}

.oneOwner {
  height: 50px;
}

.sum {
  text-size-adjust: 10px;
}
