<!-- <div [innerHTML]="listOfVOtes"></div> -->

<h1>LIST OF VOTES</h1>
<p>Poland’s democracy.</p>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4" style="background-color:white;"></div>
    <div class="col-sm-8" style="background-color:white;">
      <div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-4 text-white" style="background-color:#7700ff;">
              <h4>YES</h4>
            </div>
            <div class="col-sm-4 text-white" style="background-color:#7700ff;">
              <h4>NO</h4>
            </div>
            <div class="col-sm-4 text-white" style="background-color:#7700ff;">
              <h4>ABSTENTION</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>.</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <ul>
        <li *ngFor="let vote of listOfVOtes">
          <div class="oneline">
            <div style="background-color:lavender;">
              {{ vote }}
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-sm-8">
      <ul>
        <li *ngFor="let stat of statisticForVOtes">
          <div class="oneline">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-4" style="background-color:lavenderblush;">
                  {{ stat.for | number: ".2" }} %
                </div>
                <div class="col-sm-4" style="background-color:lavenderblush;">
                  {{ stat.against | number: ".2" }} %
                </div>
                <div class="col-sm-4" style="background-color:lavenderblush;">
                  {{ stat.abstention | number: ".2" }} %
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
