<header>
  <div class="container">
    <a *ngIf="authService.isLoggedIn()">WILEŃSKA</a>
    <nav>
      <ul>
        <li *ngIf="authService.isLoggedIn()">
          <a routerLink="/about">Votes</a>
        </li>
        <li *ngIf="authService.isLoggedIn()">
          <a routerLink="/owners">Owners</a>
        </li>
        <li *ngIf="authService.isLoggedIn()">
          <a routerLink="/resolution">Resolution</a>
        </li>
        <li><a routerLink="/contact">Contact</a></li>

        <li><a routerLink="/login">Login</a></li>

        <li *ngIf="authService.isLoggedIn()">
          <a (click)="authService.logout()">Logout</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
