.selected {
  background-color: gray;
  color: white;
  padding: 6px;
  border-radius: 10px;
  width: 100px;
  margin: 3px;
}

.onselected {
  background-color: rgb(51, 51, 51);
  color: yellow;
  padding: 6px;
  border-radius: 10px;
  width: 100px;
  margin: 3px;
}
